@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category

<h4>Delete @Model.Name?</h4>

@using (Html.BeginForm())
{
  <p>Select "Delete" to confirm</p>

  <input type="submit" value="Delete" class="btn btn-danger" />
}

<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>